@media  screen and (max-width:992px ) and (min-width:688px) {
   /****** Navbar ******/
    nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* margin: 55px 75px 15px 90px; */
        padding: 5px 15px;
    }
    /****** FFront News***** */
    .front-news{
        display: flex;
        flex-direction: column;
         align-items: center; 
         width: 100%;
        justify-content: center; 
        /* margin: 30px 75px 15px 90px; */
        padding: 5px 15px;
    }
    .front-news .front-news-img{
        margin-top: 10px;
        width: 34%;
    }
  
/****** Top Collection ******/
        .collections{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            grid-row-gap: 20px;
            grid-column-gap: 10px;
            justify-content: center;
         }
    }